    <%= link_to "Add a new Restaurant", new_restaurant_path, class: 'btn btn-primary' %>
    <hr>
<% @restaurants.each do |restaurant| %>
<h2>  <%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
  <br> <hr>
<% end %>



